* {
    margin: 0;
    padding: 0;
    font-family:'Open Sans', sans-serif;
}

header {
    position: relative;
    background-image: url("/home/koop/Documenten/test_site/images/brain-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 200px;
}

/* For mobile devices */
@media (max-width: 720px) {
    header {
        min-height: 250px;
    }
}

header h1 {
    position: absolute;
    bottom: 0;
    margin: 20px;
    color: #ffffff;
    font-size: 75px;
}

#navitems {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #000f19, #0065b1);
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 50px;
    z-index: 999;
}

.item {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    font-size: 20px;
    border-right: 1px solid #ffffff;
}

.item:hover {
	background-color: #0065b1;
    font-weight: 800;
}

section {
    margin: 10px;
    padding: 10px;
    border: 2px solid #000000;
}

section > h2 {
    margin-bottom: 20px;
}

section > p {
    margin-top: 20px;
}
