/* Reset styles */
* {
    margin: 0;               /* Remove the standard margin */
    padding: 0;              /* Remove the standard padding */
    font-family: 'Open Sans', sans-serif;  /* Set a global font */
  }

  /* Title styles */
  #title {
    color: #ffffff;          /* Set the font color */
    font-size: 75px;         /* Set the font size */
  }

  /* For mobile devices */
  @media (max-width: 720px) {
    #title {
      font-size: 65px;       /* Change the font size */
    }
  }

  /* Navigation styles */
  #navitems {
    list-style-type: none;                /* Remove item markers */
    margin: 0;                           /* Space outside the object */
    padding: 0;                          /* Space inside the object */
    background: linear-gradient(to top, #000f19, #0065b1); /* Color */
    overflow: hidden;                    /* Hide overflowing content */
    position: fixed;                     /* Fix the position of the element */
    width: 100%;                         /* Set the width to full-page */
    height: 50px;                        /* Set the height */
    z-index: 999;                        /* Let the element float above everything */
  }

  #navitems li a {
    float: left;                          /* Align all elements to the left */
    display: block;                       /* Generate a block box */
    color: #ffffff;                       /* Set text color */
    text-align: center;                   /* Center texts inside the elements */
    text-decoration: none;                /* Standard not decorated */
    padding: 15px 15px;                   /* Space inside the elements */
    font-size: 20px;                      /* Font size of the elements */
    border-right: 1px solid #ffffff;      /* Line right of every element */
  }

  #navitems li a:hover {
    background-color: #0065b1;            /* Color when hovering over */
    font-weight: 800;                     /* Bold when hovering over */
    text-decoration: underline;           /* Underline when hovering over */
  }

  /* Body styles */
  body {
    margin: 0;                            /* Remove default margin */
    padding: 0;                           /* Remove default padding */
    display: flex;                        /* Flexbox layout */
    flex-direction: column;               /* Arrange child elements vertically */
    min-height: 100vh;                    /* Minimum height of 100% viewport height */
  }

  /* Background styles */
  #background {
    position: fixed;                      /* Place the background at a fixed position */
    top: 0;                               /* Remove the space at the top */
    left: 0;                              /* Remove the space at the bottom */
    width: 100%;                          /* Make the width 100% */
    height: 100%;                         /* Make the height 100% */
    background-image: url("../images/tech-background2.jpg"); /* Set a background image */
    background-size: cover;               /* Cover the entire page */
    z-index: -1;                          /* Put the background to the back of the page */
  }

  /* Main content styles */
  main {
    margin: 0px;                          /* Space outside the object */
    padding: 10px;                        /* Space inside the object */
    flex: 1;                              /* Allow main to grow and fill available space */
  }

  /* Title styles within main */
  #title {
    padding: 80px 0 20px 20px;
  }

  /* Section styles */
  section {
    margin: 20px;                         /* Space outside the section */
    padding: 15px;                        /* Space inside the section */
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1;
    border-radius: 20px;
  }

  section h2 {
    margin-bottom: 20px;                  /* Space between heading and paragraphs */
  }

  section p {
    margin-top: 20px;                     /* Space between paragraphs */
  }

  #contactform iframe {
    width: 100%;
  }

  /* Footer styles */
  footer {
    text-align: center;                   /* Center each item */
    color: #ffffff;                     /* Set text color */
    background: linear-gradient(to bottom, #000f19, #0065b1); /* Color */
    padding-top: 10px;                    /* Space above the socials */
    padding-bottom: 10px;                 /* Space below the copyright */
    width: 100%;                          /* Set the width to full-screen */
  }

  .social {
    width: 30px;                          /* Set the height of the socials */
    height: auto;                         /* Set the width of the socials */
    padding: 0px;                         /* Let the border wrap around the image */
    margin: 10px;                         /* Space between the socials */
    border: 0 solid #000000;              /* Make a border */
    border-radius: 8px;                   /* Round the edges of the border */
  }
